.hero {
  background-image: url("../../../../public/images/banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
  width: 100%;
  display: flex;  /* Use flexbox for easy centering */
  justify-content: center;  /* Horizontally center the container */
  align-items: center;  /* Vertically center the content */
  text-align: center;  /* Ensure text inside is centered */
}

.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: center;  /* Ensure items are centered within the container */
  align-items: center;  /* Center content horizontally */
}

.hero h1 {
  color: #fff;
  font-size: 60px;
}

.hero p {
  color: #fff;
  opacity: 0.8;
  max-width: 800px;  /* Limit the width of the paragraph text */
  margin: 20px auto;  /* Center paragraph and add margin */
}

.get-started-btn {
  margin-top: 30px;
  padding: 12px 30px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.get-started-btn:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

/* Mobile responsiveness */
@media screen and (max-width: 800px) {

  .get-started-btn {
    padding: 10px 25px;
    font-size: 16px;
  }
}
